body {
 background-image: url('http://www.wallfizz.com/espace/etoiles/799-etoiles-WallFizz.jpg');
  color: white;
}
h1 {
  text-align: center;
}
.todos {
  font-size: 30px;
}

li, input, button, h1 {
  background-color: #0a100e;
  color: white;
  opacity: 0.7;
  list-style: none;
  margin-top: 20px;
}
input {
    margin-left: 30px;
}

